.navbar-brand {
    margin-top: 15px;
    background-image: url("/static/images/client/logo.png");
    width: 50px;
    height: 53px;
}

@media (min-width:768px) {
    .navbar-brand {
        margin-top: 15px;
        background-image: url("/static/images/client/logo2.png");
        width: 213px;
        height: 53px;
    }
}

@media (max-width: @screen-xs-max) {

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 

}

@media (min-width: @screen-lg-min) { 

}